* {
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

body {
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}

header {
    height: 25vh;
    width: 100vw;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    background-color: #303030;
    height: 200vh;
}

footer {

}

/* ids */

/* header */

#header_logo {
    height: 20vh;
    margin: 0px 0px 0px 2vw;
}

#header_logo:hover {
    cursor: pointer;
}

#sec_nav_links {
    margin: 0px 2vw 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav_links_btn {
    height: 15vh;
}

#nav_links_btn {
    cursor: pointer;
}
  
#nav_links {
    position: absolute;
    top: 20vh;
    right: 0px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #303030;
    padding: 20px;
    opacity: 0;
}

/* classes */

/* header */

.nav_link a {
    color: #006080;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3vh;
    opacity: 1;
    cursor: default;
}

.nav_link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* media */

@media (width < 800px) {

    header {
        height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0px;
    }

    /*ids*/

    /* header */

    #header_logo {
        height: 15vh;
        margin: 0px;
    }

    #nav_links_btn {
        display: none;
    }

    #nav_links {
        display: flex;
        position: inherit;
        opacity: 1;
        background-color: transparent;
        height: 25vh;
    }

    /* main */

    #title {
        font-size: 10vh;
        max-width: 80vw;
        text-align: center;
    }

    /* classes */

    /* header */

    .nav_link a {
        background-color: none;
    }


}

@media (width > 1200px) {

    header {
        height: 20vh;
    }

    /*ids*/

    #header_logo {
        height: 15vh;
    }

    #header_abt a {
        font-size: 2vh;
        border-radius: 50px;
    }

    /* classes */

    .nav_link a {
        font-size: 2.5vh;
    }
}